.loader {
    border: 2px dotted #FFFFFF;
    opacity: 0.4;
}

.checkbox>input:checked {
    background-color: #9EB2EB;
}

.checkbox>input:checked::after {
    content: url('assets/check-dark-small.svg');
}