@import url("common-styles.css");

#website-blocked,
#learn-more {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#block-url-explanation {
    font-weight:  300;
    margin-bottom: 30px;
}

#block-url-explanation > span:not(:last-child) {
    display: block;
    margin-bottom: 8px;
}

#website-blocked>p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 32px;
}

#website-blocked>#alert {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #FCDEDE;
    border-radius: 16px;
    font-weight: 300;
    /* letter-spacing: 1.2; */
    font-size: 14px;
    line-height: 20px;
    padding: 16px 32px;
    margin-bottom: 40px;
}

#website-blocked>#alert img {
    margin-right: 10px;
}

#website-blocked>#actions {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 352px;
    gap: 22px;
}

#go-back {
    width: 100%;
}

#continue-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#continue-always-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}

#continue-always-wrapper label {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

#continue-button {
    width: 100%;
}

#learn-more {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
}