@font-face {
    font-family: 'graphik-web';
    src: url('../../vendor/graphik/web/graphik-bold-web.eot');
    src: url('../../vendor/graphik/web/graphik-bold-web.eot?#iefix') format('embedded-opentype'),
    url('../../vendor/graphik/web/graphik-bold-web.woff2') format('woff2'),
    url('../../vendor/graphik/web/graphik-bold-web.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: 'graphik-web';
    src: url('../../vendor/graphik/web/graphik-lightitalic-web.eot');
    src: url('../../vendor/graphik/web/graphik-lightitalic-web.eot?#iefix') format('embedded-opentype'),
    url('../../vendor/graphik/web/graphik-lightitalic-web.woff2') format('woff2'),
    url('../../vendor/graphik/web/graphik-lightitalic-web.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
}
@font-face {
    font-family: 'graphik-web';
    src: url('../../vendor/graphik/web/graphik-regular-web.eot');
    src: url('../../vendor/graphik/web/graphik-regular-web.eot?#iefix') format('embedded-opentype'),
    url('../../vendor/graphik/web/graphik-regular-web.woff2') format('woff2'),
    url('../../vendor/graphik/web/graphik-regular-web.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family: 'graphik-web';
    src: url('../../vendor/graphik/web/graphik-bolditalic-web.eot');
    src: url('../../vendor/graphik/web/graphik-bolditalic-web.eot?#iefix') format('embedded-opentype'),
    url('../../vendor/graphik/web/graphik-bolditalic-web.woff2') format('woff2'),
    url('../../vendor/graphik/web/graphik-bolditalic-web.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
}
@font-face {
    font-family: 'graphik-web';
    src: url('../../vendor/graphik/web/graphik-medium-web.eot');
    src: url('../../vendor/graphik/web/graphik-medium-web.eot?#iefix') format('embedded-opentype'),
    url('../../vendor/graphik/web/graphik-medium-web.woff2') format('woff2'),
    url('../../vendor/graphik/web/graphik-medium-web.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

html { /* This is for firefox failing to render correctly */
    width: 600px;
    height: 600px;
    overflow: hidden;
}

body {
    color: grey;
    overflow: hidden;
    margin:0 !important;
    font-size: 15px;
    font-weight: 400;
    min-width: 600px;
    min-height: 600px;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif !important;
}

#malwarebytes-app {
    background-image: url("../assets/welcome-clouds.svg");
    background-repeat: no-repeat;
    background-position: 0 100%;
}

#malwarebytes-app.small-screen {
    overflow-y: scroll;
    position: relative;
}

#malwarebytes-app.small-screen .content-container {
    margin-bottom: 250px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: #141519;
    font-size: 20px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 0;
    margin-bottom: 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #141519;
    font-size: 24px;
    width: 100%;
    margin-top: 0;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: 500;
}

img {
    margin: 0 auto 20px;
    display: block;
}

div.txt {
    width: 100%;
    text-align: center;
    color: #141519;
}
.ui.form .field{
    display: flex !important;
    flex-direction: row;
}

.ui.form .field>label {
    display: block;
    width: 320px;
    margin: 20px auto 0;
    color: #6a707b;
    padding-left: 1px;
    font-weight: 400;
}

.ui.form .field.error>label {
    color: #e60000;
}

.ui.form div.ui.input {
    width: 370px;
    height: 40px;
    margin: 18px 100px 24px 100px;
}

.ui.form div.ui.input>input {
    display: block;
    width: 322px;
    margin: 0 auto;
}

.ui.form div.ui.input.error>input {
    border-color: #e60000;
}

#welcome-header{
    width: 370px;
    height: 32px;
    margin: 40px 115px 0px;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px; 
}
.welcome-bg{
    display: flex;
    flex-direction: row;
    margin: 16px 115px 47px ;
    width: 370px;
    height: 25px;
}
#telem-opt-in-label-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    display: flex;
    width: 372px;
    height: 40px;
}

#email-go{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 8px;
    width: 370px;
    height: 40px;
    border-radius: 50px;
    margin-bottom: 18px;
    margin: 16px auto;
    background-color: #0d3ecc;
    font-family: 'Roboto Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
}
#email-go:hover{
    background-color: #0D3ECC;
}
.ui.form .ui.error.message {
    background-color: transparent;
    color: #e60000;
    width: 322px;
    margin: 0 auto;
    border: 0;
    padding: 0;
    box-shadow: none;
}

.ui.form .ui.error.message .list:not(.ui) {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ui.form .ui.error.message .list:not(.ui) li {
    font-size: 12px;
    margin: 1px 0 0 0;
    padding: 0 0 0 1px;
}

.ui.form .ui.error.message .list:not(.ui) li:not(:first-child) {
    display: none;
}

/* Overwriting styles from Semantic UI so that a fixed height is respected
   and there's not UI "Jank" for invalid inputs */
.ui.form .error.message {
    display: block;
}

.ui.form.error .error.message:not(:empty) {
    visibility: visible;
}

.ui.error.message {
    height: 20px;
    visibility: hidden;
}

.ui.form .ui.error.message .list:not(.ui) li:before {
    content: none;
}


#email-mb-logo, #email-mb-logo img {
    display: block;
}

#onboard-spinner {
    width: 96px;
    height: 96px;
    margin: 135px auto 0;
}

#email-pp {
    position: relative;
    margin: 0 auto;
    display: block;
    text-align: center;
    margin-bottom: 50px !important;
    font-family: 'Roboto Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #0D3ECC;
}
.telem-checkbox input[type=checkbox] {
    cursor: pointer;
    margin: 0 10px 0 0;
    width: 17px;
    height: 22px;
}

.telem-checkbox input[type=checkbox]:checked {
    accent-color: #0D3ECC;
    opacity: 1;
    clip-path: circle(50% at 50% 50%);
}

.condensed #zero-jumping {
    width: 35%;
}

.condensed h3 {
    padding-top: 0;
}

.ui.form div.ui.input.no-top-margin {
    margin-top: 0;
}
