@import url("common-styles-dark.css");
.drag-and-drop #start-img {
    content: url('../assets/import-icon-dark.svg');
}
.drag-and-drop .import-btn {
    height: 40px;
    margin-top: 16px;
    background-color: #1C1B1F;
    color: #9EB2EB;
    border: 2px solid #9EB2EB;
}
.drag-and-drop .uploading-img {
    width: 48px;
    height: 48px;
    content: url('../assets/uploading-icon-dark.svg');
}
.drag-and-drop .import-successful {
    width: 48px;
    height: 48px;
    content: url('../assets/import-successful-dark.svg');
}
.drag-and-drop .import-error {
    width: 48px;
    height: 48px;
    content: url('../assets/import-error-dark.svg');
}
.drag-and-drop .progress-bar {
    content: url('../assets/progress-bar-dark.svg');
}
.drag-and-drop .progress-complete {
    content: url('../assets/progress-bar-complete-dark.svg');
}
.drag-and-drop .progress-error {
    content: url('../assets/progress-bar-error-dark.svg');
}
.drag-over{
    background-color: #282A32;
}
.import-basic-btn {
    background-color: 1C1B1F;
    color: #9EB2EB;
    border: 2px solid #9EB2EB;
}