@import url("common-styles.css");

body {
    font-family: 'roboto', sans-serif;
}

main {
    padding-bottom: 50px;
}

#re-title {
    margin-bottom: 60px;
}

#re-info>div:not(:last-child) {
    margin-bottom: 32px;
}

h4 {
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
}

p {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.bold {
    font-weight: 700;
}

#choose-features>h4 {
    margin-bottom: 32px;
}

#choose-features>h4 {
    margin-bottom: 32px;
}

#choose-features {
    flex-direction: column;
}

#choose-features>label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

#choose-features>label>input[type=radio] {
    margin-top: 3px;
}

#choose-features>label>div {
    display: flex;
    flex-direction: column;
}

#choose-features {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

#choose-features .hint {
    color: #999999;
}

#choose-features>label>div>p:first-child {
    font-weight: 500;
}

#choose-features button {
    margin-top: 16px;
}

#choice-saved {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 16px;
}

#re-rule-types {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
#re-rule-types >div> span:last-child {
    color: #555555;
}

#re-rule-types h4 {
    margin-bottom: 16px;
}